# .gitignore for Django projects

# Ignore database files
db.sqlite3

# Ignore static files
staticfiles/

# Ignore media files
media/

# Ignore virtual environment
venv/

# Ignore IDE files
.vscode/
.idea/

# Ignore compiled Python files
__pycache__/
*.pyc
*.pyo

# Ignore environment configuration files
.env

# Ignore local development settings
local_settings.py
